body {
  background-color: black;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  animation: 0.1s infinite alternate shake1;
}

.App {
  max-width: 800px;
  justify-content: center;
  position: absolute;
}

.monkey-container {
  position: absolute;
  animation: 0.05s infinite alternate shake2;
}

.monkey-container2 {
  position: absolute;
  animation: 0.05s infinite alternate shake3;
}

.monkey-body {
  position: absolute;
  z-index: 1;
}

.monkey-front {
  position: absolute;
  left: 50px;
  top: 60px;
  z-index: 2;
  transform-origin: 0% 0%;
  animation: 0.05s infinite alternate type1;
}

.monkey-back {
  position: absolute;
  left: 60px;
  top: 60px;
  z-index: 0;
  transform-origin: 0% 0%;
  animation: 0.05s infinite alternate type2;
}
.monkey-back2 {
  position: absolute;
  left: 60px;
  top: 60px;
  z-index: 0;
  transform-origin: 0% 0%;
  animation: 0.05s infinite alternate type3;
}
@keyframes shake1 {
  from {
    rotate: 0.5deg;
  }
  to {
    rotate: -0.5deg;
  }
}
@keyframes shake2 {
  from {
    rotate: 2deg;
  }
  to {
    rotate: -2deg;
  }
}
@keyframes shake3 {
  from {
    rotate: -2deg;
  }
  to {
    rotate: 2deg;
  }
}
@keyframes type1 {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@keyframes type2 {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes type2 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  color: white;
  opacity: 0.5;
}

.typewriter-active {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 0.25s steps(25, end) infinite;
  /* animation: typing 1s steps(50, end), blink-caret 0.75s step-end infinite; */
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
